body {
  background-color: #f96a16; /* LightCyan */
}


body {
    margin: 100px;
}

.center-text {
    text-align: center;
  }

  html {
  font-family: Helvetica, Arial, sans-serif;
}

body {
     margin-left: 200px;
     margin-right: 200px;
}

.italic-text {
      font-style: italic;
    }

.footer {
    font-size: 3px
}